.news-container {
  align-items: center;
  border: 3px solid #e6572f;
  box-shadow: 1.5px 1px 1px 1px #797e76;
  color: white;
  height: auto;
  width: 100%;
}

.news-display {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 78vh;
  justify-content: center;
  overflow: scroll;
  width: 100%;
}